body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #fad975 ;
    --secondary-color: #f4bab8 ;
    --accent1-color: #253c78 ;
    --accent2-color: #0a4699;

    --heading-font: 'Oswald', serif;
    --paragraph-font: 'Noto Sans JP', serif;

    --nav-background-color: #253c78;
    --nav-link-color: #fad975;
    --nav-hover-link-color: #f4bab8;
    --nav-hover-background-color: #0a4699;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.herodiv {
    margin: 10px auto;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    padding: ;
}

.hero article {
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.hero article img {
    float: right;
    width: 250px;
    height: auto%;

}