* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
    
}

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Noto Sans JP", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  
h1 {
    font-size: 45px;
    text-align: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block; 
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

h1 {
    color: steelblue;
    border-bottom: solid 1px steelblue;
    padding: 20px;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}


aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 35px;
}

/* p,
li {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}

html {
    background-color: #F6BD60;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #F7EDE2;
    padding: 0 20px 30px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #F6BD60;
    text-shadow: 3px 3px 3px #F5CAC3;
}

img {
    display: block;
    margin: 0 auto;
} */

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}